<h1>Семинар 1.1</h1>

<h3>Инструментарий</h3>

1. Python 3+

2. AnaConda (/w Jupyter) ИЛИ JupyterLab ИЛИ что угодно в формате Jupyter Notebook

3. Командная строка: **pip install...**

4. Курсы, книги, онлайн-лекции...

<h1>Поговорим про Python</h1>

### Вывод значений

In [22]:
print(2)
print(2*2*2)
print(2**5)
print("I love HSE!") 
print("I {} MIEM!".format("love")) # really?...

2
8
32
I love HSE!
I love MIEM!

### Переменные

In [13]:
a = int("32")
b = 333
c = int("3" + "3")
d = int(True & bool(3)) # int(True & True) = int(True) = int(1) = 1
cost1 = a * 100 + b
cost2 = c * 100 + d
totalCost = cost1 + cost2
print(totalCost // 100, totalCost % 100)

68 34

### Условия

In [16]:
foo = 42
a, b = 40, 50
print(a <= foo < b)

if not foo >= a:
    print("1")
else:
    print(str(2))

True
2

### Строки и циклы

In [17]:
s = 'The ultimate question of life, the universe, and everything'
number_of_spaces = 0
number_of_commas = 0

for c in s:
    if c == ' ':
        number_of_spaces += 1
    elif c == ',':
        number_of_commas += 1

print('Количество пробелов в строке:', number_of_spaces)
print('Количество запятых в строке:', number_of_commas)

Количество пробелов в строке: 8
Количество запятых в строке: 2

### Более сложный цикл...

In [18]:
s = 'spam, spom, spam, spam… lovely spam! wonderful spam!'
char = '!'  # символ, который нужно найти

# перебираем поочередно все символы в строке
# j это номер символа в строке, начиная с 0
j = 0
for c in s:
    if c == char:
        # если символ совпал, дальше не ищем, а сразу выходим из цикла
        print('Символ найден. Индекс:', j)
        break
    j += 1
else:
    # если символ не встретился, break не выполнится, а ветка else выполнится
    print('строка не найдена')

Символ найден. Индекс: 35

### Функции

In [19]:
# Функция foo принимает три позиционных аргумента a, b и c
def foo(a, b, c):
    return 2 * a + b * c

# вызвать функцию можно передав значения через запятую
print(foo(1, 2, 3))

# можно явно указать имена и значения
print(foo(a=3, b=2, c=5))

8
16

In [25]:
def foo(a, b, c=0):
    return a + 3 * b - 2 * c

# значения передаются поочередно, c будет равно 3
print(foo(1, 2, 3))

# если у ключевых аргументов указано значение по умолчанию,
# его можно не передавать
print(foo(1, 2))

# можно явно указывать значения у ключевых аргументов
print(foo(10, 2, c=4))

1
7
8

### Встроенные функции

In [26]:
# модуль числа
print('abs:', abs(-5))

# получение символа по коду Unicode
print('chr:', chr(1105))
# обратная chr, получения кода по символу
print('ord:', ord('D'))

# максимум, принимают хотябы два аргумента
print('max:', max(1, 20, 3, 6, 1, 0))
# минимум
print('min:', min(1, 20, 3, 6, 1, 0))

print('-' * 50)
# получение справки об объекте
print('help:', help(abs))

abs: 5
chr: ё
ord: 68
max: 20
min: 0
--------------------------------------------------
Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

help: None

### Списки

In [31]:
xs = [42, 42., 'foo_bar', [1, 2, 3], None, False]
print(f'{xs = }')
print(f'{len(xs) = }')

xs = [1, 2, 3, 4]
ys = [5, 6, 7]
print(f'{xs + ys = }')
print(f'{3 * xs = }')

xs = [42, 42.0, 'foo_bar', [1, 2, 3], None, False]
len(xs) = 6
xs + ys = [1, 2, 3, 4, 5, 6, 7]
3 * xs = [1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [32]:
xs = [1, 2, 3, 4]
ys = [5, 6, 7]

xs.append(42)
print(f'(1): {xs = }')

# метод pop удобен, когда нужно использовать удаленный элемент
x = xs.pop()
print(f'(2): {x = }, {xs = }')
x = xs.pop(2)
print(f'(3): {x = }, {xs = }')

# еще один способ удалить элемент по индексу
del xs[2]
print(f'(4): {xs = }')

xs.insert(1, 196)
print(f'(5): {xs = }')

xs.extend(ys)
print(f'(6): {xs = }')

xs.reverse()
print(f'{xs = }')

(1): xs = [1, 2, 3, 4, 42]
(2): x = 42, xs = [1, 2, 3, 4]
(3): x = 3, xs = [1, 2, 4]
(4): xs = [1, 2]
(5): xs = [1, 196, 2]
(6): xs = [1, 196, 2, 5, 6, 7]
xs = [7, 6, 5, 2, 196, 1]

In [1]:
xs = [1, 3, 2, 3, 3, 4]
print(f'{4 in xs = }')
print(f'{xs.count(3) = }')
print(f'{xs.index(3) = }')

4 in xs = True
xs.count(3) = 3
xs.index(3) = 1

In [34]:
xs = list('monty_python')
print(f'{xs = }')
print(f'{xs[0] = }')
print(f'{xs[5] = }')
print(f'{xs[-1] = }')
print(f'{xs[-7] = }')

xs = ['m', 'o', 'n', 't', 'y', '_', 'p', 'y', 't', 'h', 'o', 'n']
xs[0] = 'm'
xs[5] = '_'
xs[-1] = 'n'
xs[-7] = '_'

In [35]:
xs = list('monty_python')
print(f'{xs = }')
print(f'{xs[:] = }')
print(f'{xs[::-1] = }')
print(f'{xs[:5] = }')
print(f'{xs[6:] = }')
print(f'{xs[3:7] = }')
print(f'{xs[3:8:2] = }')
print(f'{xs[4::-1] = }')

xs = ['m', 'o', 'n', 't', 'y', '_', 'p', 'y', 't', 'h', 'o', 'n']
xs[:] = ['m', 'o', 'n', 't', 'y', '_', 'p', 'y', 't', 'h', 'o', 'n']
xs[::-1] = ['n', 'o', 'h', 't', 'y', 'p', '_', 'y', 't', 'n', 'o', 'm']
xs[:5] = ['m', 'o', 'n', 't', 'y']
xs[6:] = ['p', 'y', 't', 'h', 'o', 'n']
xs[3:7] = ['t', 'y', '_', 'p']
xs[3:8:2] = ['t', '_', 'y']
xs[4::-1] = ['y', 't', 'n', 'o', 'm']

In [36]:
xs = []

for i in range(5):
    ys = []
    for j in range(i + 1):
        ys.append(j + i + 1)
    xs.append(ys)

for l in xs:
    print(l)

print(f'{xs[0][0] = }')
print(f'{xs[-1][-1] = }')

[1]
[2, 3]
[3, 4, 5]
[4, 5, 6, 7]
[5, 6, 7, 8, 9]
xs[0][0] = 1
xs[-1][-1] = 9

In [2]:
xs = [4, 3, 2, 1]


for x in range(len(xs)):
    print(x, xs[x])

0 4
1 3
2 2
3 1

In [38]:
xs = [4, 3, 2, 1]

for i, x in enumerate(xs):
    print(f'xs[{i}] = {x}')

xs[0] = 4
xs[1] = 3
xs[2] = 2
xs[3] = 1

### Словари

In [40]:
d = {'a': 1, 'b': 2, 'a': 42}
print(f'{d = }')

d = {'a': 42, 'b': 2}

In [7]:
d = dict.fromkeys('abc', 1)
print(f'{d = }')

print(f'{len(d) = }')
print(f'{d["a"] = }')

d["c"] = 22
print(f'{d.get("c") = }')


print(f'{"a" in d = }')
print(f'{"c" in d = }')
print(f'{"g" not in d = }')

d = {'a': 1, 'b': 1, 'c': 1}
len(d) = 3
d["a"] = 1
d.get("c") = 22
"a" in d = True
"c" in d = True
"g" not in d = True

In [46]:
d = {'a': 1, 'b': 2, 'c': 3}
print(f'{d.keys() = }')
print(f'{d.values() = }')
print(f'{d.items() = }')

d.keys() = dict_keys(['a', 'b', 'c'])
d.values() = dict_values([1, 2, 3])
d.items() = dict_items([('a', 1), ('b', 2), ('c', 3)])

In [47]:
d = {'a': 3, 'b': 2, 'c': 1}
print(f'{sorted(d.keys(), reverse=True) = }')
print(f'{sorted(d.values()) = }')
print(f'{sorted(d.items(), reverse=True) = }')

sorted(d.keys(), reverse=True) = ['c', 'b', 'a']
sorted(d.values()) = [1, 2, 3]
sorted(d.items(), reverse=True) = [('c', 1), ('b', 2), ('a', 3)]

In [49]:
d = {'a': 3, 'b': 2, 'c': 1}

# функция принимает элемент коллекции, т.е. кортеж 
# из двух элементов, и возвращает второй его элемет.
def foo(x):
    return x[1]

# сортировка пар словаря по значению
print(f'{sorted(d.items(), key=foo) = }')

sorted(d.items(), key=foo) = [('a', 3), ('b', 2), ('c', 1)]

### Tuple &  set

In [1]:
a = (1, 2, [42])
a[-1] = 0  # TypeError

TypeError: 'tuple' object does not support item assignment

In [51]:
a = (1, 2, 3, 1)
b = 3, 4

print(f'Длина: {len(a) = }')
print(f'Конкатенация: {a + b = }')
print(f'Умножение на целочисленную константу: {3 * a = }')
print(f'Индексация: {a[0] = }')
print(f'Индексация: {a[-2] = }')
print(f'Срез: {a[1::-1]}')
print(f'Индекс первого вхождения: {a.index(1) = }')
print(f'Подсчет всех вхождений: {a.count(1) = }')

Длина: len(a) = 4
Конкатенация: a + b = (1, 2, 3, 1, 3, 4)
Умножение на целочисленную константу: 3 * a = (1, 2, 3, 1, 1, 2, 3, 1, 1, 2, 3, 1)
Индексация: a[0] = 1
Индексация: a[-2] = 3
Срез: (2, 1)
Индекс первого вхождения: a.index(1) = 0
Подсчет всех вхождений: a.count(1) = 2

In [110]:
a = [1, 2]
b = [3, 4]

a+b

[1, 2, 3, 4]

In [52]:
a = [42, 1, 2, 1, 3, 1, 2]
print(f'{set(a) = }')

set(a) = {3, 1, 42, 2}

In [54]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

print(f'Пересечение: {a & b = }')  # a и b должны быть типа set
# a должна быть типа set, b любой итерируемый объект, может 
# принимать любое количество аргументов.
print(f'Пересечение: {a.intersection(b) = }')
print(f'Разность: {a - b = }')

Пересечение: a & b = {3, 4}
Пересечение: a.intersection(b) = {3, 4}
Разность: a - b = {1, 2}

# Поговорим про анализ данных

### Стать программистом 300к/секунду? Очень просто:

In [2]:
import numpy as np
import pandas as pd

In [3]:
data3 = pd.read_excel('data_3_course.xlsx')
data4 = pd.read_excel('data_4_course.xlsx')

#pd.read_csv("file.csv")

In [4]:
data3.head(2)

,Timestamp,ID,Рейтинг,Группа (в формате 182),МИ?,"Осенний курс по выбору, приоритет 1","Осенний курс по выбору, приоритет 2","Осенний курс по выбору, приоритет 3","Весенний курс по выбору, приоритет 1","Весенний курс по выбору, приоритет 2","Весенний курс по выбору, приоритет 3",Вы заполняете анкету в первый раз?
0,2020-05-15 01:12:50.543,93ff79a51cd602f1dd3028ba2c129503,"704,0",181,NaN,Язык SQL,Высокопроизводительные вычисления,Матричные вычисления,Дискретная оптимизация,Численные методы,Машинное обучение 2,Да
1,2020-05-15 02:46:48.066,26b01b1c4cd5656bab18d24c548834fb,"646,0",181,NaN,Высокопроизводительные вычисления,Безопасность компьютерных систем,Язык SQL,Дискретная оптимизация,Численные методы,Машинное обучение 2,Нет

In [111]:
data3

,Timestamp,ID,Рейтинг,Группа (в формате 182),МИ?,"Осенний курс по выбору, приоритет 1","Осенний курс по выбору, приоритет 2","Осенний курс по выбору, приоритет 3","Весенний курс по выбору, приоритет 1","Весенний курс по выбору, приоритет 2","Весенний курс по выбору, приоритет 3",Вы заполняете анкету в первый раз?
0,2020-05-15 01:12:50.543,93ff79a51cd602f1dd3028ba2c129503,704.0,181,NaN,Язык SQL,Высокопроизводительные вычисления,Матричные вычисления,Дискретная оптимизация,Численные методы,Машинное обучение 2,Да
1,2020-05-15 02:46:48.066,26b01b1c4cd5656bab18d24c548834fb,646.0,181,NaN,Высокопроизводительные вычисления,Безопасность компьютерных систем,Язык SQL,Дискретная оптимизация,Численные методы,Машинное обучение 2,Нет
2,2020-05-15 03:12:41.480,30f3653fc176d54e89ac3179c455c6dd,624.0,185,NaN,Безопасность компьютерных систем,Матричные вычисления,Моделирование временных рядов,Дискретная оптимизация,Машинное обучение 2,Численные методы,Да
3,2020-05-15 04:43:08.994,1528f0eaa027580820ccf0d92a53ad68,579.0,182,NaN,Statistical Learning Theory,Высокопроизводительные вычисления,Матричные вычисления,Дискретная оптимизация,Численные методы,Машинное обучение 2,Да
4,2020-05-15 07:47:17.197,496ea4f0d4abe264b1bb1b80eb3830c5,632.0,183,NaN,Высокопроизводительные вычисления,Безопасность компьютерных систем,Теория баз данных,Компьютерные сети,Дискретная оптимизация,Численные методы,Да
...,...,...,...,...,...,...,...,...,...,...,...,...
218,2020-05-20 11:49:38.801,bd416140ecdb32b6dbd7f40820bf63b1,517.0,185,NaN,Безопасность компьютерных систем,Теория баз данных,Язык SQL,Машинное обучение 2,Компьютерные сети,Промышленное программирование на языке Java,Да
219,2020-05-20 11:57:07.326,e6f5eb76b34e7ab7bac753e6cb0a2279,634.0,184,NaN,Теория баз данных,Безопасность компьютерных систем,Моделирование временных рядов,Компьютерные сети,Промышленное программирование на языке Java,Анализ данных в бизнесе,Да
220,2020-05-21 16:33:15.899,1341f488fae5f1ccf164960fd6506cd0,584.0,188,NaN,Язык SQL,Теория баз данных,Безопасность компьютерных систем,Промышленное программирование на языке Java,Компьютерные сети,Системы баз данных,Да
221,2020-05-24 01:21:31.946,04bcb5c9d23813ffa940e1febb27fadc,646.0,186,NaN,Теория баз данных,Высокопроизводительные вычисления,Безопасность компьютерных систем,Компьютерные сети,Дискретная оптимизация,Машинное обучение 2,Нет
222,2020-05-19 04:24:29.000,9d19b0d5f4fc8d7edc2258406f872c4e,694.0,188,NaN,Безопасность компьютерных систем,Язык SQL,Высокопроизводительные вычисления,Компьютерные сети,Дискретная оптимизация,Численные методы,NaN

In [5]:
data3.shape

(223, 12)

In [89]:
type(data3)

pandas.core.frame.DataFrame

In [90]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 
                   'BBB' : [10,20,30,40], 
                   'CCC' : [100,50,'E',-50]})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30    E
3    7   40  -50

In [91]:
data3.columns

Index(['Timestamp', 'ID', 'Рейтинг', 'Группа (в формате 182)', 'МИ?',
       'Осенний курс по выбору, приоритет 1',
       'Осенний курс по выбору, приоритет 2',
       'Осенний курс по выбору, приоритет 3',
       'Весенний курс по выбору, приоритет 1',
       'Весенний курс по выбору, приоритет 2',
       'Весенний курс по выбору, приоритет 3',
       'Вы заполняете анкету в первый раз?'],
      dtype='object')

In [92]:
data3.dtypes

Timestamp                               datetime64[ns]
ID                                              object
Рейтинг                                         object
Группа (в формате 182)                           int64
МИ?                                            float64
Осенний курс по выбору, приоритет 1             object
Осенний курс по выбору, приоритет 2             object
Осенний курс по выбору, приоритет 3             object
Весенний курс по выбору, приоритет 1            object
Весенний курс по выбору, приоритет 2            object
Весенний курс по выбору, приоритет 3            object
Вы заполняете анкету в первый раз?              object
dtype: object

In [7]:
data3.loc[2]

Timestamp                                     2020-05-15 03:12:41.480000
ID                                      30f3653fc176d54e89ac3179c455c6dd
Рейтинг                                                            624,0
Группа (в формате 182)                                               185
МИ?                                                                  NaN
Осенний курс по выбору, приоритет 1     Безопасность компьютерных систем
Осенний курс по выбору, приоритет 2                 Матричные вычисления
Осенний курс по выбору, приоритет 3        Моделирование временных рядов
Весенний курс по выбору, приоритет 1              Дискретная оптимизация
Весенний курс по выбору, приоритет 2                 Машинное обучение 2
Весенний курс по выбору, приоритет 3                    Численные методы
Вы заполняете анкету в первый раз?                                    Да
Name: 2, dtype: object

In [94]:
data3['Рейтинг'].head(3)

0    704,0
1    646,0
2    624,0
Name: Рейтинг, dtype: object

In [117]:
data3.iloc[2:4]

,Timestamp,ID,Рейтинг,Группа (в формате 182),МИ?,"Осенний курс по выбору, приоритет 1","Осенний курс по выбору, приоритет 2","Осенний курс по выбору, приоритет 3","Весенний курс по выбору, приоритет 1","Весенний курс по выбору, приоритет 2","Весенний курс по выбору, приоритет 3",Вы заполняете анкету в первый раз?
2,2020-05-15 03:12:41.480,30f3653fc176d54e89ac3179c455c6dd,624.0,185,NaN,Безопасность компьютерных систем,Матричные вычисления,Моделирование временных рядов,Дискретная оптимизация,Машинное обучение 2,Численные методы,Да
3,2020-05-15 04:43:08.994,1528f0eaa027580820ccf0d92a53ad68,579.0,182,NaN,Statistical Learning Theory,Высокопроизводительные вычисления,Матричные вычисления,Дискретная оптимизация,Численные методы,Машинное обучение 2,Да

In [9]:
data3[data3['Группа (в формате 182)'] == 182]

,Timestamp,ID,Рейтинг,Группа (в формате 182),МИ?,"Осенний курс по выбору, приоритет 1","Осенний курс по выбору, приоритет 2","Осенний курс по выбору, приоритет 3","Весенний курс по выбору, приоритет 1","Весенний курс по выбору, приоритет 2","Весенний курс по выбору, приоритет 3",Вы заполняете анкету в первый раз?
3,2020-05-15 04:43:08.994,1528f0eaa027580820ccf0d92a53ad68,"579,0",182,NaN,Statistical Learning Theory,Высокопроизводительные вычисления,Матричные вычисления,Дискретная оптимизация,Численные методы,Машинное обучение 2,Да
18,2020-05-15 19:44:33.132,af20596134e83f3ca61259b325aa9688,"518,0",182,NaN,Statistical Learning Theory,Сбор и обработка данных с помощью краудсорсинга,Высокопроизводительные вычисления,Машинное обучение 2,Дополнительные главы прикладной статистики,Анализ данных в бизнесе,Да
26,2020-05-15 22:59:40.602,a0c56e8aa03ea6c1f5e8462914472075,"750,0",182,NaN,Сбор и обработка данных с помощью краудсорсинга,Statistical Learning Theory,Моделирование временных рядов,Дополнительные главы прикладной статистики,Дискретная оптимизация,Численные методы,Да
27,2020-05-16 13:02:24.706,5daee1bd98559bb2c52373e416942225,"659,0",182,NaN,Сбор и обработка данных с помощью краудсорсинга,Statistical Learning Theory,Моделирование временных рядов,Машинное обучение 2,Промышленное программирование на языке Java,Анализ данных в бизнесе,Нет
35,2020-05-16 21:11:40.100,2662600c2c37e11e62f6ee0b88452f22,"627,0",182,1.0,Statistical Learning Theory,Сбор и обработка данных с помощью краудсорсинга,Принятие решений в условиях риска и неопределё...,Машинное обучение 2,Промышленное программирование на языке Java,Дополнительные главы прикладной статистики,Да
48,2020-05-17 16:15:12.312,e5fb2c5a9d8a09915b15d14bf6cf3174,"753,0",182,NaN,Безопасность компьютерных систем,Матричные вычисления,Высокопроизводительные вычисления,Дискретная оптимизация,Компьютерные сети,Численные методы,Да
51,2020-05-17 18:21:13.570,28cd79966197dc97bafed62bc8c48bbd,"588,0",182,NaN,Моделирование временных рядов,Statistical Learning Theory,Язык SQL,Анализ данных в бизнесе,Системы баз данных,Дискретная оптимизация,Да
54,2020-05-17 20:42:32.811,9abd31fe9761b5abd56524915237c1ea,"673,0",182,NaN,Матричные вычисления,Statistical Learning Theory,Моделирование временных рядов,Дополнительные главы прикладной статистики,Анализ данных в бизнесе,Промышленное программирование на языке Java,Да
68,2020-05-18 12:55:36.645,d61cc836b6aa3cdc4a40e2e8ada0b937,"671,0",182,NaN,Безопасность компьютерных систем,Высокопроизводительные вычисления,Язык SQL,Компьютерные сети,Промышленное программирование на языке Java,Машинное обучение 2,Нет
75,2020-05-18 16:45:06.205,081eba3952cfc116e0e9b941d6a974a2,"692,0",182,NaN,Безопасность компьютерных систем,Матричные вычисления,Теория баз данных,Промышленное программирование на языке Java,Дискретная оптимизация,Системы баз данных,Нет
80,2020-05-18 17:09:23.589,3e106aaef8b24dbb01319c73e14c2936,"784,0",182,NaN,Безопасность компьютерных систем,Statistical Learning Theory,Матричные вычисления,Дискретная оптимизация,Промышленное программирование на языке Java,Дополнительные главы прикладной статистики,Да
83,2020-05-18 17:21:14.354,7f9d0f835bf734ccd4619041c3475c1c,"688,0",182,NaN,Безопасность компьютерных систем,Statistical Learning Theory,Матричные вычисления,Дискретная оптимизация,Дополнительные главы прикладной статистики,Промышленное программирование на языке Java,Нет
84,2020-05-18 17:22:56.786,bfe75c08c6b7e31d4e7d48c9c5fed69b,"764,0",182,NaN,Безопасность компьютерных систем,Statistical Learning Theory,Матричные вычисления,Дискретная оптимизация,Промышленное программирование на языке Java,Дополнительные главы прикладной статистики,Да
85,2020-05-18 17:32:12.074,651f2fa7d270b436246ddd7d05880bfa,"755,0",182,NaN,Теория баз данных,Моделирование временных рядов,Statistical Learning Theory,Дополнительные главы прикладной статистики,Численные методы,Системы баз данных,Да
88,2020-05-18 17:56:00.688,044e038535ae5d2ff037150b77fdc6d1,"709,0",182,NaN,Безопасность компьютерных систем,Statistical Learning Theory,Матричные вычисления,Дискретная оптимизация,Промышленное программирование на языке Java,Дополнительные главы прикладной статистики,Да
89,2020-05-18 18:01:52.604,fd784637a19d65bbe5b07d6efac5a05d,"624,0",182,NaN,Безопасность компьютерных систем,Statistical Learning Theory,Матричные вычисления,Машинное обучение 2,Дискретная оптимизация,Компьютерные сети,Да
91,2020-05-18 18:03:57.347,e0ca1a9548af9a3f98428c62420aa484,"763,0",182,NaN,Матричные вычисления,Безопасность компьютерных систем,Statistical Learning Theory,Дискретная оптимизация,Дополнительные главы прикладной статистики,Машинное обучение 2,Да
94,2020-05-18 18:24:10.335,425c2a90f447620c9a1868e92f0a7af6,"759,0",182,NaN,Сбор и обработка данных с помощью краудсорсинга,Язык SQL,Принятие решений в условиях риска и неопределё...,Промышленное программирование на языке Java,Дополнительные главы прикладной статистики,Анализ данных в бизнесе,Да
103,2020-05-18 19:23:23.735,ff549c331d45453052f28ad2614afda9,"722,0",182,NaN,Моделирование временных рядов,Теория баз данных,Матричные вычисления,Численные методы,Анализ данных в бизнесе,Промышленное программирование на языке Java,Да
134,2020-05-18 21:17:01.633,f3cc62fabaa597e8fe0b20ac2e6f46d3,"741,0",182,NaN,Безопасность компьютерных систем,Язык SQL,Теория баз данных,Промышленное программирование на языке Java,Дискретная оптимизация,Компьютерные сети,Да
151,2020-05-18 21:51:40.811,b6fcd3cdcbbd950b4207acb65ee12d03,"736,0",182,NaN,Безопасность компьютерных систем,Матричные вычисления,Язык SQL,Промышленное программирование на языке Java,Компьютерные сети,Дополнительные главы прикладной статистики,Да
153,2020-05-18 21:53:48.048,cabc5ea85cac3029dc2aecc4955f9cf3,"685,0",182,NaN,Безопасность компьютерных систем,Сбор и обработка данных с помощью краудсорсинга,Язык SQL,Дискретная оптимизация,Промышленное программирование на языке Java,Компьютерные сети,Да
180,2020-05-18 23:02:55.289,6541d659f05e45043d1b65e98e16a718,"687,0",182,NaN,Безопасность компьютерных систем,Матричные вычисления,Язык SQL,Компьютерные сети,Промышленное программирование на языке Java,Дискретная оптимизация,Да
183,2020-05-18 23:10:18.303,8a1162ce3c94d8974210a24f4b4f5f74,"710,0",182,NaN,Сбор и обработка данных с помощью краудсорсинга,Язык SQL,Безопасность компьютерных систем,Промышленное программирование на языке Java,Дополнительные главы прикладной статистики,Анализ данных в бизнесе,Да
197,2020-05-18 23:43:04.866,4ab8340cfb08da86c14a2cc3c3fad908,"683,0",182,NaN,Statistical Learning Theory,Безопасность компьютерных систем,Язык SQL,Дискретная оптимизация,Промышленное программирование на языке Java,Анализ данных в бизнесе,Да
210,2020-05-19 00:22:56.525,04f9a2dd035a040318ecd064959df3a0,"757,0",182,NaN,Безопасность компьютерных систем,Сбор и обработка данных с помощью краудсорсинга,Statistical Learning Theory,Промышленное программирование на языке Java,Компьютерные сети,Дискретная оптимизация,Да

In [119]:
data3[data3['Группа (в формате 182)'] == 182].sample(3)

,Timestamp,ID,Рейтинг,Группа (в формате 182),МИ?,"Осенний курс по выбору, приоритет 1","Осенний курс по выбору, приоритет 2","Осенний курс по выбору, приоритет 3","Весенний курс по выбору, приоритет 1","Весенний курс по выбору, приоритет 2","Весенний курс по выбору, приоритет 3",Вы заполняете анкету в первый раз?
210,2020-05-19 00:22:56.525,04f9a2dd035a040318ecd064959df3a0,757.0,182,NaN,Безопасность компьютерных систем,Сбор и обработка данных с помощью краудсорсинга,Statistical Learning Theory,Промышленное программирование на языке Java,Компьютерные сети,Дискретная оптимизация,Да
153,2020-05-18 21:53:48.048,cabc5ea85cac3029dc2aecc4955f9cf3,685.0,182,NaN,Безопасность компьютерных систем,Сбор и обработка данных с помощью краудсорсинга,Язык SQL,Дискретная оптимизация,Промышленное программирование на языке Java,Компьютерные сети,Да
68,2020-05-18 12:55:36.645,d61cc836b6aa3cdc4a40e2e8ada0b937,671.0,182,NaN,Безопасность компьютерных систем,Высокопроизводительные вычисления,Язык SQL,Компьютерные сети,Промышленное программирование на языке Java,Машинное обучение 2,Нет

In [97]:
data3['new'] = 1032023002

In [98]:
data3.head(2)

,Timestamp,ID,Рейтинг,Группа (в формате 182),МИ?,"Осенний курс по выбору, приоритет 1","Осенний курс по выбору, приоритет 2","Осенний курс по выбору, приоритет 3","Весенний курс по выбору, приоритет 1","Весенний курс по выбору, приоритет 2","Весенний курс по выбору, приоритет 3",Вы заполняете анкету в первый раз?,new
0,2020-05-15 01:12:50.543,93ff79a51cd602f1dd3028ba2c129503,"704,0",181,NaN,Язык SQL,Высокопроизводительные вычисления,Матричные вычисления,Дискретная оптимизация,Численные методы,Машинное обучение 2,Да,1032023002
1,2020-05-15 02:46:48.066,26b01b1c4cd5656bab18d24c548834fb,"646,0",181,NaN,Высокопроизводительные вычисления,Безопасность компьютерных систем,Язык SQL,Дискретная оптимизация,Численные методы,Машинное обучение 2,Нет,1032023002

In [99]:
data3 = data3.drop(columns=['new'])
data3.head(2)

,Timestamp,ID,Рейтинг,Группа (в формате 182),МИ?,"Осенний курс по выбору, приоритет 1","Осенний курс по выбору, приоритет 2","Осенний курс по выбору, приоритет 3","Весенний курс по выбору, приоритет 1","Весенний курс по выбору, приоритет 2","Весенний курс по выбору, приоритет 3",Вы заполняете анкету в первый раз?
0,2020-05-15 01:12:50.543,93ff79a51cd602f1dd3028ba2c129503,"704,0",181,NaN,Язык SQL,Высокопроизводительные вычисления,Матричные вычисления,Дискретная оптимизация,Численные методы,Машинное обучение 2,Да
1,2020-05-15 02:46:48.066,26b01b1c4cd5656bab18d24c548834fb,"646,0",181,NaN,Высокопроизводительные вычисления,Безопасность компьютерных систем,Язык SQL,Дискретная оптимизация,Численные методы,Машинное обучение 2,Нет

In [100]:
data3['Рейтинг'].describe()

count       223
unique      138
top       599,0
freq          5
Name: Рейтинг, dtype: object

In [101]:
data3['Рейтинг'] = data3['Рейтинг'].apply(lambda x: float(str(x).replace(',', '.')))

In [102]:
data3['Рейтинг'].describe()

count    223.000000
mean     648.816143
std       58.255552
min      495.000000
25%      609.000000
50%      647.000000
75%      691.000000
max      784.000000
Name: Рейтинг, dtype: float64

In [103]:
data4['Рейтинг'] = data4['Рейтинг'].apply(lambda x: float(str(x).replace(',', '.')))
data4['Рейтинг'].describe()

count     138.000000
mean     1155.188406
std        91.659203
min       963.000000
25%      1086.500000
50%      1155.500000
75%      1217.500000
max      1456.000000
Name: Рейтинг, dtype: float64

In [104]:
data = pd.concat([data3, data4])
data.head()

,Timestamp,ID,Рейтинг,Группа (в формате 182),МИ?,"Осенний курс по выбору, приоритет 1","Осенний курс по выбору, приоритет 2","Осенний курс по выбору, приоритет 3","Весенний курс по выбору, приоритет 1","Весенний курс по выбору, приоритет 2","Весенний курс по выбору, приоритет 3",Вы заполняете анкету в первый раз?,Группа (в формате 173),blended-курс
0,2020-05-15 01:12:50.543,93ff79a51cd602f1dd3028ba2c129503,704.0,181.0,NaN,Язык SQL,Высокопроизводительные вычисления,Матричные вычисления,Дискретная оптимизация,Численные методы,Машинное обучение 2,Да,NaN,NaN
1,2020-05-15 02:46:48.066,26b01b1c4cd5656bab18d24c548834fb,646.0,181.0,NaN,Высокопроизводительные вычисления,Безопасность компьютерных систем,Язык SQL,Дискретная оптимизация,Численные методы,Машинное обучение 2,Нет,NaN,NaN
2,2020-05-15 03:12:41.480,30f3653fc176d54e89ac3179c455c6dd,624.0,185.0,NaN,Безопасность компьютерных систем,Матричные вычисления,Моделирование временных рядов,Дискретная оптимизация,Машинное обучение 2,Численные методы,Да,NaN,NaN
3,2020-05-15 04:43:08.994,1528f0eaa027580820ccf0d92a53ad68,579.0,182.0,NaN,Statistical Learning Theory,Высокопроизводительные вычисления,Матричные вычисления,Дискретная оптимизация,Численные методы,Машинное обучение 2,Да,NaN,NaN
4,2020-05-15 07:47:17.197,496ea4f0d4abe264b1bb1b80eb3830c5,632.0,183.0,NaN,Высокопроизводительные вычисления,Безопасность компьютерных систем,Теория баз данных,Компьютерные сети,Дискретная оптимизация,Численные методы,Да,NaN,NaN

In [105]:
data.rename(columns={'Timestamp':'timestamp',
                     'ID':'id',
                     'Рейтинг':'rating',
                     'МИ?':'is_mi',
                     'Группа (в формате 182)':'18_group',
                     'Группа (в формате 173)':'17_group',
                     'Осенний курс по выбору, приоритет 1':'fall_1',
                     'Осенний курс по выбору, приоритет 2':'fall_2',
                     'Осенний курс по выбору, приоритет 3':'fall_3',
                     'Весенний курс по выбору, приоритет 1':'spring_1',
                     'Весенний курс по выбору, приоритет 2':'spring_2',
                     'Весенний курс по выбору, приоритет 3':'spring_3',
                     'Вы заполняете анкету в первый раз?':'is_first_time',
                     'blended-курс':'blended'},
           inplace=True)

In [120]:
data.isna()

,timestamp,id,rating,18_group,is_mi,fall_1,fall_2,fall_3,spring_1,spring_2,spring_3,is_first_time,17_group,blended
0,False,False,False,False,True,False,False,False,False,False,False,False,True,True
1,False,False,False,False,True,False,False,False,False,False,False,False,True,True
2,False,False,False,False,True,False,False,False,False,False,False,False,True,True
3,False,False,False,False,True,False,False,False,False,False,False,False,True,True
4,False,False,False,False,True,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,False,False,False,True,True,False,False,False,False,False,False,False,False,False
134,False,False,False,True,True,False,False,False,False,False,False,False,False,False
135,False,False,False,True,True,False,False,False,False,False,False,False,False,False
136,False,False,False,True,True,False,False,False,False,False,False,False,False,False
137,False,False,False,True,True,False,False,False,False,False,False,True,False,False

In [106]:
data.isna().sum()

timestamp          0
id                 0
rating             0
18_group         138
is_mi            343
fall_1             0
fall_2             0
fall_3             0
spring_1           0
spring_2           0
spring_3           0
is_first_time      2
17_group         223
blended          223
dtype: int64

In [107]:
data.groupby('fall_1').count()[['id', 'is_mi']]

                                                     id  is_mi
fall_1
Statistical Learning Theory                          26      1
Анализ неструктурированных данных                    32      0
Байесовские методы машинного обучения                17      0
Безопасность компьютерных систем                    110      4
Высокопроизводительные вычисления                    42      0
Глубинное обучение в обработке звука                 12      0
Матричные вычисления                                 14      1
Моделирование временных рядов                        24      7
Принятие решений в условиях риска и неопределён...    5      0
Сбор и обработка данных с помощью краудсорсинга      35      1
Теория баз данных                                    13      2
Язык SQL                                             31      2